In [4]:
import pandas as pd
import re

In [11]:
# Select the Revit journal file you would like to parse
from tkinter.filedialog import askopenfilename
filename = askopenfilename()

In [12]:
filename

'C:/Users/dalto/AppData/Local/Autodesk/Revit/Autodesk Revit 2023/Journals/journal.0024.txt'

In [13]:
pattern = r"\d+:\s*<\s+\d+\s*:\s*\w+\s*:\s*\w+\s*:\s*[\w\s-]+\s*:\s*id\s+\d+"

spaces_or_rooms = []

with open(filename, "r") as f:
    for line in f:
        if re.search(pattern, line):
            spaces_or_rooms.append(line)

In [14]:
# Printing first 5 strings in list
spaces_or_rooms[0:5]

["  ' 1:<       1 : Rooms : Room : Stock 3 - Number 3 : id 573791 \n",
 "  ' 1:<       1 : Rooms : Room : Workshop 4 - Number 4 : id 573792 \n",
 "  ' 1:<       1 : Rooms : Room : Leader 6 - Number 6 : id 573794 \n",
 "  ' 1:<       1 : Rooms : Room : Leader 8 - Number 8 : id 573795 \n",
 "  ' 1:<       1 : Rooms : Room : WC H 9 - Number 9 : id 573796 \n"]

In [18]:
rooms = []
spaces = []

for string in spaces_or_rooms:
    if "Room" in string:
        rooms.append(string.split()[-1])
    elif "Space" in string:
        spaces.append(string.split()[-1])

In [19]:
print("Total Count of Rooms and spaces not properly enclosed. Rooms: " + str(len(rooms)) + " | Spaces: " + str(len(spaces)))

Total Count of Rooms and spaces not properly enclosed. Rooms: 162 | Spaces: 154

In [22]:
df = pd.DataFrame()
df["Rooms"] = rooms
df["Spaces"] = pd.Series(spaces)
df.head(10)

    Rooms  Spaces
0  573791  379575
1  573792  379578
2  573794  379584
3  573795  379586
4  573796  379588
5  573797  379597
6  573798  379770
7  573799  379918
8  573800  379923
9  573801  379928

In [23]:
df.to_excel('Revit Journal Data.xlsx', index = False)